<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fic.service.mapper.BetScenceMapper">
  <resultMap id="BaseResultMap" type="com.fic.service.entity.BetScence">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bet_name" jdbcType="VARCHAR" property="betName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="bet_type" jdbcType="TINYINT" property="betType" />
    <result column="has_jasckpot" jdbcType="TINYINT" property="hasJasckpot" />
    <result column="jasckpot_fee" jdbcType="DECIMAL" property="jasckpotFee" />
    <result column="total_jasckpot" jdbcType="DECIMAL" property="totalJasckpot" />
    <result column="has_reservation" jdbcType="TINYINT" property="hasReservation" />
    <result column="reservation_fee" jdbcType="DECIMAL" property="reservationFee" />
    <result column="total_reservation" jdbcType="DECIMAL" property="totalReservation" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bet_name, status, created_time, bet_type, has_jasckpot, jasckpot_fee, total_jasckpot,
    has_reservation, reservation_fee, total_reservation
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bet_scence
    where id = #{id,jdbcType=INTEGER} and status = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bet_scence
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fic.service.entity.BetScence">
    insert into bet_scence (id, bet_name, status,
      created_time, bet_type, has_jasckpot,
      jasckpot_fee, total_jasckpot, has_reservation,
      reservation_fee, total_reservation)
    values (#{id,jdbcType=INTEGER}, #{betName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
      #{createdTime,jdbcType=TIMESTAMP}, #{betType,jdbcType=TINYINT}, #{hasJasckpot,jdbcType=TINYINT},
      #{jasckpotFee,jdbcType=DECIMAL}, #{totalJasckpot,jdbcType=DECIMAL}, #{hasReservation,jdbcType=TINYINT},
      #{reservationFee,jdbcType=DECIMAL}, #{totalReservation,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.fic.service.entity.BetScence">
    insert into bet_scence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="betName != null">
        bet_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="betType != null">
        bet_type,
      </if>
      <if test="hasJasckpot != null">
        has_jasckpot,
      </if>
      <if test="jasckpotFee != null">
        jasckpot_fee,
      </if>
      <if test="totalJasckpot != null">
        total_jasckpot,
      </if>
      <if test="hasReservation != null">
        has_reservation,
      </if>
      <if test="reservationFee != null">
        reservation_fee,
      </if>
      <if test="totalReservation != null">
        total_reservation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="betName != null">
        #{betName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="betType != null">
        #{betType,jdbcType=TINYINT},
      </if>
      <if test="hasJasckpot != null">
        #{hasJasckpot,jdbcType=TINYINT},
      </if>
      <if test="jasckpotFee != null">
        #{jasckpotFee,jdbcType=DECIMAL},
      </if>
      <if test="totalJasckpot != null">
        #{totalJasckpot,jdbcType=DECIMAL},
      </if>
      <if test="hasReservation != null">
        #{hasReservation,jdbcType=TINYINT},
      </if>
      <if test="reservationFee != null">
        #{reservationFee,jdbcType=DECIMAL},
      </if>
      <if test="totalReservation != null">
        #{totalReservation,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fic.service.entity.BetScence">
    update bet_scence
    <set>
      <if test="betName != null">
        bet_name = #{betName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="betType != null">
        bet_type = #{betType,jdbcType=TINYINT},
      </if>
      <if test="hasJasckpot != null">
        has_jasckpot = #{hasJasckpot,jdbcType=TINYINT},
      </if>
      <if test="jasckpotFee != null">
        jasckpot_fee = #{jasckpotFee,jdbcType=DECIMAL},
      </if>
      <if test="totalJasckpot != null">
        total_jasckpot = #{totalJasckpot,jdbcType=DECIMAL},
      </if>
      <if test="hasReservation != null">
        has_reservation = #{hasReservation,jdbcType=TINYINT},
      </if>
      <if test="reservationFee != null">
        reservation_fee = #{reservationFee,jdbcType=DECIMAL},
      </if>
      <if test="totalReservation != null">
        total_reservation = #{totalReservation,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fic.service.entity.BetScence">
    update bet_scence
    set bet_name = #{betName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      bet_type = #{betType,jdbcType=TINYINT},
      has_jasckpot = #{hasJasckpot,jdbcType=TINYINT},
      jasckpot_fee = #{jasckpotFee,jdbcType=DECIMAL},
      total_jasckpot = #{totalJasckpot,jdbcType=DECIMAL},
      has_reservation = #{hasReservation,jdbcType=TINYINT},
      reservation_fee = #{reservationFee,jdbcType=DECIMAL},
      total_reservation = #{totalReservation,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getByBetType" resultMap="BaseResultMap">
    select * from bet_scence where status = 1 and bet_type = #{betType} order by created_time desc limit 0,1;
  </select>

  <select id="getBetTypeByScenceMovieId" resultType="int">
    select b.bet_type from bet_scence b
    left join bet_scence_movie sb on sb.bet_scence_id = b.id
    where sb.id = #{scenceMovieId};
  </select>

  <update id="updateStatus" parameterType="int">
    update bet_scence set status =  #{status,jdbcType=TINYINT} where #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findByIdWithoutStatus" resultMap="BaseResultMap">
    select * from bet_scence where id = #{id};
  </select>

  <select id="findAllOnLine" resultMap="BaseResultMap">
    select * from bet_scence where status = 1;
  </select>

  <update id="updateRewardPool">
    update bet_scence set total_jasckpot = #{restAmount} where id = #{id}
  </update>

  <update id="updateReservePool">
    update bet_scence set total_reservation = #{restAmount} where id = #{id}
  </update>
</mapper>