<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fic.service.mapper.DistributionRecordMapper">
  <resultMap id="BaseResultMap" type="com.fic.service.entity.DistributionRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="register_reward" jdbcType="DECIMAL" property="registerReward" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="invite_first_user_id" jdbcType="INTEGER" property="inviteFirstUserId" />
    <result column="invite_first_user_register_time" jdbcType="TIMESTAMP" property="inviteFirstUserRegisterTime" />
    <result column="invite_reward_first" jdbcType="DECIMAL" property="inviteRewardFirst" />
    <result column="invest_reward_first" jdbcType="DECIMAL" property="investRewardFirst" />
    <result column="invest_time_first" jdbcType="DATE" property="investTimeFirst" />
    <result column="invite_second_user_id" jdbcType="INTEGER" property="inviteSecondUserId" />
    <result column="invite_second_user_register_time" jdbcType="TIMESTAMP" property="inviteSecondUserRegisterTime" />
    <result column="invite_reward_second" jdbcType="DECIMAL" property="inviteRewardSecond" />
    <result column="invest_reward_second" jdbcType="DECIMAL" property="investRewardSecond" />
    <result column="invest_time_second" jdbcType="DATE" property="investTimeSecond" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, register_reward, register_time, invite_first_user_id, invite_first_user_register_time, 
    invite_reward_first, invest_reward_first, invest_time_first, invite_second_user_id, 
    invite_second_user_register_time, invite_reward_second, invest_reward_second, invest_time_second
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from distribution_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from distribution_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fic.service.entity.DistributionRecord">
    insert into distribution_record (id, user_id, register_reward, 
      register_time, invite_first_user_id, invite_first_user_register_time, 
      invite_reward_first, invest_reward_first, invest_time_first, 
      invite_second_user_id, invite_second_user_register_time, 
      invite_reward_second, invest_reward_second, 
      invest_time_second)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{registerReward,jdbcType=DECIMAL}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{inviteFirstUserId,jdbcType=INTEGER}, #{inviteFirstUserRegisterTime,jdbcType=TIMESTAMP}, 
      #{inviteRewardFirst,jdbcType=DECIMAL}, #{investRewardFirst,jdbcType=DECIMAL}, #{investTimeFirst,jdbcType=DATE}, 
      #{inviteSecondUserId,jdbcType=INTEGER}, #{inviteSecondUserRegisterTime,jdbcType=TIMESTAMP}, 
      #{inviteRewardSecond,jdbcType=DECIMAL}, #{investRewardSecond,jdbcType=DECIMAL}, 
      #{investTimeSecond,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.fic.service.entity.DistributionRecord">
    insert into distribution_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="registerReward != null">
        register_reward,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="inviteFirstUserId != null">
        invite_first_user_id,
      </if>
      <if test="inviteFirstUserRegisterTime != null">
        invite_first_user_register_time,
      </if>
      <if test="inviteRewardFirst != null">
        invite_reward_first,
      </if>
      <if test="investRewardFirst != null">
        invest_reward_first,
      </if>
      <if test="investTimeFirst != null">
        invest_time_first,
      </if>
      <if test="inviteSecondUserId != null">
        invite_second_user_id,
      </if>
      <if test="inviteSecondUserRegisterTime != null">
        invite_second_user_register_time,
      </if>
      <if test="inviteRewardSecond != null">
        invite_reward_second,
      </if>
      <if test="investRewardSecond != null">
        invest_reward_second,
      </if>
      <if test="investTimeSecond != null">
        invest_time_second,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="registerReward != null">
        #{registerReward,jdbcType=DECIMAL},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteFirstUserId != null">
        #{inviteFirstUserId,jdbcType=INTEGER},
      </if>
      <if test="inviteFirstUserRegisterTime != null">
        #{inviteFirstUserRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteRewardFirst != null">
        #{inviteRewardFirst,jdbcType=DECIMAL},
      </if>
      <if test="investRewardFirst != null">
        #{investRewardFirst,jdbcType=DECIMAL},
      </if>
      <if test="investTimeFirst != null">
        #{investTimeFirst,jdbcType=DATE},
      </if>
      <if test="inviteSecondUserId != null">
        #{inviteSecondUserId,jdbcType=INTEGER},
      </if>
      <if test="inviteSecondUserRegisterTime != null">
        #{inviteSecondUserRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteRewardSecond != null">
        #{inviteRewardSecond,jdbcType=DECIMAL},
      </if>
      <if test="investRewardSecond != null">
        #{investRewardSecond,jdbcType=DECIMAL},
      </if>
      <if test="investTimeSecond != null">
        #{investTimeSecond,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fic.service.entity.DistributionRecord">
    update distribution_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="registerReward != null">
        register_reward = #{registerReward,jdbcType=DECIMAL},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteFirstUserId != null">
        invite_first_user_id = #{inviteFirstUserId,jdbcType=INTEGER},
      </if>
      <if test="inviteFirstUserRegisterTime != null">
        invite_first_user_register_time = #{inviteFirstUserRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteRewardFirst != null">
        invite_reward_first = #{inviteRewardFirst,jdbcType=DECIMAL},
      </if>
      <if test="investRewardFirst != null">
        invest_reward_first = #{investRewardFirst,jdbcType=DECIMAL},
      </if>
      <if test="investTimeFirst != null">
        invest_time_first = #{investTimeFirst,jdbcType=DATE},
      </if>
      <if test="inviteSecondUserId != null">
        invite_second_user_id = #{inviteSecondUserId,jdbcType=INTEGER},
      </if>
      <if test="inviteSecondUserRegisterTime != null">
        invite_second_user_register_time = #{inviteSecondUserRegisterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inviteRewardSecond != null">
        invite_reward_second = #{inviteRewardSecond,jdbcType=DECIMAL},
      </if>
      <if test="investRewardSecond != null">
        invest_reward_second = #{investRewardSecond,jdbcType=DECIMAL},
      </if>
      <if test="investTimeSecond != null">
        invest_time_second = #{investTimeSecond,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fic.service.entity.DistributionRecord">
    update distribution_record
    set user_id = #{userId,jdbcType=INTEGER},
      register_reward = #{registerReward,jdbcType=DECIMAL},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      invite_first_user_id = #{inviteFirstUserId,jdbcType=INTEGER},
      invite_first_user_register_time = #{inviteFirstUserRegisterTime,jdbcType=TIMESTAMP},
      invite_reward_first = #{inviteRewardFirst,jdbcType=DECIMAL},
      invest_reward_first = #{investRewardFirst,jdbcType=DECIMAL},
      invest_time_first = #{investTimeFirst,jdbcType=DATE},
      invite_second_user_id = #{inviteSecondUserId,jdbcType=INTEGER},
      invite_second_user_register_time = #{inviteSecondUserRegisterTime,jdbcType=TIMESTAMP},
      invite_reward_second = #{inviteRewardSecond,jdbcType=DECIMAL},
      invest_reward_second = #{investRewardSecond,jdbcType=DECIMAL},
      invest_time_second = #{investTimeSecond,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>