<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fic.service.mapper.ExchangeRateMapper">
  <resultMap id="BaseResultMap" type="com.fic.service.entity.ExchangeRate">
    <result column="coin1" jdbcType="VARCHAR" property="coin1" />
    <result column="coin2" jdbcType="VARCHAR" property="coin2" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
  </resultMap>
  <insert id="insert" parameterType="com.fic.service.entity.ExchangeRate">
    insert into exchange_rate (coin1, coin2, rate, 
      created_time, created_by, updated_time, 
      updated_by)
    values (#{coin1,jdbcType=VARCHAR}, #{coin2,jdbcType=VARCHAR}, #{rate,jdbcType=DECIMAL}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fic.service.entity.ExchangeRate">
    insert into exchange_rate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coin1 != null">
        coin1,
      </if>
      <if test="coin2 != null">
        coin2,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coin1 != null">
        #{coin1,jdbcType=VARCHAR},
      </if>
      <if test="coin2 != null">
        #{coin2,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>