<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fic.service.mapper.UserMapper">
  <resultMap id="resultMap" type="com.fic.service.entity.User">
    <id column="id" property="id" />
    <result column="user_name" property="userName" />
    <result column="nick_name" property="nickName" />
    <result column="password" property="password" />
    <result column="pay_password" property="payPassword" />
    <result column="himage_url" property="himageUrl" />
    <result column="wallet_address" property="walletAddress" />
    <result column="user_invite_code" property="userInviteCode" />
    <result column="t_user_invite_code" property="tUserInviteCode" />
    <result column="t_user_id" property="tUserId" />
    <result column="mobile" property="mobile" />
    <result column="phone" property="phone" />
    <result column="zip" property="zip" />
    <result column="email" property="email" />
    <result column="remark" property="remark" />
    <result column="updated_time" property="updatedTime" />
    <result column="created_time" property="createdTime" />
    <result column="created_by" property="createdBy" />
    <result column="updated_by" property="updatedBy" />
    <result column="user_re_1" property="userRe1" />
    <result column="user_re_2" property="userRe2" />
    <result column="user_re_3" property="userRe3" />
    <result column="user_re_4" property="userRe4" />
    <result column="user_re_5" property="userRe5" />
    <result column="user_re_6" property="userRe6" />
    <result column="user_re_7" property="userRe7" />
    <result column="user_re_8" property="userRe8" />
    <result column="user_re_9" property="userRe9" />
    <result column="user_re_10" property="userRe10" />
  </resultMap>
  <sql id="whereCondition">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="condition.userName != null">
         and user_name = #{condition.userName}
      </if>
      <if test="condition.nickName != null">
         and nick_name = #{condition.nickName}
      </if>
      <if test="condition.password != null">
         and password = #{condition.password}
      </if>
      <if test="condition.himageUrl != null">
         and himage_url = #{condition.himageUrl}
      </if>
      <if test="condition.walletAddress != null">
        and wallet_address = #{condition.walletAddress}
      </if>
      <if test="condition.userInviteCode != null">
         and user_invite_code = #{condition.userInviteCode}
      </if>
      <if test="condition.tUserInviteCode != null">
         and t_user_invite_code = #{condition.tUserInviteCode}
      </if>
      <if test="condition.tUserId != null">
         and t_user_id = #{condition.tUserId}
      </if>
      <if test="condition.mobile != null">
         and mobile = #{condition.mobile}
      </if>
      <if test="condition.phone != null">
         and phone = #{condition.phone}
      </if>
      <if test="condition.zip != null">
         and zip = #{condition.zip}
      </if>
      <if test="condition.email != null">
         and email = #{condition.email}
      </if>
      <if test="condition.remark != null">
         and remark = #{condition.remark}
      </if>
      <if test="condition.updatedTime != null">
         and updated_time = #{condition.updatedTime}
      </if>
      <if test="condition.createdTime != null">
         and created_time = #{condition.createdTime}
      </if>
      <if test="condition.createdBy != null">
         and created_by = #{condition.createdBy}
      </if>
      <if test="condition.updatedBy != null">
         and updated_by = #{condition.updatedBy}
      </if>
      <if test="condition.userRe1 != null">
         and user_re_1 = #{condition.userRe1}
      </if>
      <if test="condition.userRe2 != null">
         and user_re_2 = #{condition.userRe2}
      </if>
      <if test="condition.userRe3 != null">
         and user_re_3 = #{condition.userRe3}
      </if>
      <if test="condition.userRe4 != null">
         and user_re_4 = #{condition.userRe4}
      </if>
      <if test="condition.userRe5 != null">
         and user_re_5 = #{condition.userRe5}
      </if>
      <if test="condition.userRe6 != null">
         and user_re_6 = #{condition.userRe6}
      </if>
      <if test="condition.userRe7 != null">
         and user_re_7 = #{condition.userRe7}
      </if>
      <if test="condition.userRe8 != null">
         and user_re_8 = #{condition.userRe8}
      </if>
      <if test="condition.userRe9 != null">
         and user_re_9 = #{condition.userRe9}
      </if>
      <if test="condition.userRe10 != null">
         and user_re_10 = #{condition.userRe10}
      </if>
    </trim>
  </sql>
  <sql id="columnList">
    id, user_name, nick_name, password, pay_password,himage_url, wallet_address,user_invite_code, t_user_invite_code,
    t_user_id, mobile, phone, zip, email, remark, updated_time, created_time, created_by, 
    updated_by, user_re_1, user_re_2, user_re_3, user_re_4, user_re_5, user_re_6, user_re_7, 
    user_re_8, user_re_9, user_re_10
  </sql>
  <insert id="insert" parameterType="com.fic.service.entity.User" useGeneratedKeys="true" keyProperty="user.id">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user.id != null">
        id,
      </if>
      <if test="user.userName != null">
        user_name,
      </if>
      <if test="user.nickName != null">
        nick_name,
      </if>
      <if test="user.password != null">
        password,
      </if>
      <if test="user.himageUrl != null">
        himage_url,
      </if>
      <if test="user.walletAddress != null">
        wallet_address,
      </if>
      <if test="user.userInviteCode != null">
        user_invite_code,
      </if>
      <if test="user.tUserInviteCode != null">
        t_user_invite_code,
      </if>
      <if test="user.tUserId != null">
        t_user_id,
      </if>
      <if test="user.mobile != null">
        mobile,
      </if>
      <if test="user.phone != null">
        phone,
      </if>
      <if test="user.zip != null">
        zip,
      </if>
      <if test="user.email != null">
        email,
      </if>
      <if test="user.remark != null">
        remark,
      </if>
      <if test="user.updatedTime != null">
        updated_time,
      </if>
      <if test="user.createdTime != null">
        created_time,
      </if>
      <if test="user.createdBy != null">
        created_by,
      </if>
      <if test="user.updatedBy != null">
        updated_by,
      </if>
      <if test="user.userRe1 != null">
        user_re_1,
      </if>
      <if test="user.userRe2 != null">
        user_re_2,
      </if>
      <if test="user.userRe3 != null">
        user_re_3,
      </if>
      <if test="user.userRe4 != null">
        user_re_4,
      </if>
      <if test="user.userRe5 != null">
        user_re_5,
      </if>
      <if test="user.userRe6 != null">
        user_re_6,
      </if>
      <if test="user.userRe7 != null">
        user_re_7,
      </if>
      <if test="user.userRe8 != null">
        user_re_8,
      </if>
      <if test="user.userRe9 != null">
        user_re_9,
      </if>
      <if test="user.userRe10 != null">
        user_re_10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user.id != null">
        #{user.id},
      </if>
      <if test="user.userName != null">
        #{user.userName},
      </if>
      <if test="user.nickName != null">
        #{user.nickName},
      </if>
      <if test="user.password != null">
        #{user.password},
      </if>
      <if test="user.himageUrl != null">
        #{user.himageUrl},
      </if>
      <if test="user.walletAddress != null">
        #{user.walletAddress},
      </if>
      <if test="user.userInviteCode != null">
        #{user.userInviteCode},
      </if>
      <if test="user.tUserInviteCode != null">
        #{user.tUserInviteCode},
      </if>
      <if test="user.tUserId != null">
        #{user.tUserId},
      </if>
      <if test="user.mobile != null">
        #{user.mobile},
      </if>
      <if test="user.phone != null">
        #{user.phone},
      </if>
      <if test="user.zip != null">
        #{user.zip},
      </if>
      <if test="user.email != null">
        #{user.email},
      </if>
      <if test="user.remark != null">
        #{user.remark},
      </if>
      <if test="user.updatedTime != null">
        #{user.updatedTime},
      </if>
      <if test="user.createdTime != null">
        #{user.createdTime},
      </if>
      <if test="user.createdBy != null">
        #{user.createdBy},
      </if>
      <if test="user.updatedBy != null">
        #{user.updatedBy},
      </if>
      <if test="user.userRe1 != null">
        #{user.userRe1},
      </if>
      <if test="user.userRe2 != null">
        #{user.userRe2},
      </if>
      <if test="user.userRe3 != null">
        #{user.userRe3},
      </if>
      <if test="user.userRe4 != null">
        #{user.userRe4},
      </if>
      <if test="user.userRe5 != null">
        #{user.userRe5},
      </if>
      <if test="user.userRe6 != null">
        #{user.userRe6},
      </if>
      <if test="user.userRe7 != null">
        #{user.userRe7},
      </if>
      <if test="user.userRe8 != null">
        #{user.userRe8},
      </if>
      <if test="user.userRe9 != null">
        #{user.userRe9},
      </if>
      <if test="user.userRe10 != null">
        #{user.userRe10},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.fic.service.entity.User">
    update user
    <set>
      <if test="user.userName != null">
        user_name = #{user.userName},
      </if>
      <if test="user.nickName != null">
        nick_name = #{user.nickName},
      </if>
      <if test="user.password != null">
        password = #{user.password},
      </if>
      <if test="user.payPassword != null">
        pay_password = #{user.payPassword},
      </if>
      <if test="user.himageUrl != null">
        himage_url = #{user.himageUrl},
      </if>
      <if test="user.walletAddress != null">
        wallet_address = #{user.walletAddress},
      </if>
      <if test="user.userInviteCode != null">
        user_invite_code = #{user.userInviteCode},
      </if>
      <if test="user.tUserInviteCode != null">
        t_user_invite_code = #{user.tUserInviteCode},
      </if>
      <if test="user.tUserId != null">
        t_user_id = #{user.tUserId},
      </if>
      <if test="user.mobile != null">
        mobile = #{user.mobile},
      </if>
      <if test="user.phone != null">
        phone = #{user.phone},
      </if>
      <if test="user.zip != null">
        zip = #{user.zip},
      </if>
      <if test="user.email != null">
        email = #{user.email},
      </if>
      <if test="user.remark != null">
        remark = #{user.remark},
      </if>
      <if test="user.updatedTime != null">
        updated_time = #{user.updatedTime},
      </if>
      <if test="user.createdTime != null">
        created_time = #{user.createdTime},
      </if>
      <if test="user.createdBy != null">
        created_by = #{user.createdBy},
      </if>
      <if test="user.updatedBy != null">
        updated_by = #{user.updatedBy},
      </if>
      <if test="user.userRe1 != null">
        user_re_1 = #{user.userRe1},
      </if>
      <if test="user.userRe2 != null">
        user_re_2 = #{user.userRe2},
      </if>
      <if test="user.userRe3 != null">
        user_re_3 = #{user.userRe3},
      </if>
      <if test="user.userRe4 != null">
        user_re_4 = #{user.userRe4},
      </if>
      <if test="user.userRe5 != null">
        user_re_5 = #{user.userRe5},
      </if>
      <if test="user.userRe6 != null">
        user_re_6 = #{user.userRe6},
      </if>
      <if test="user.userRe7 != null">
        user_re_7 = #{user.userRe7},
      </if>
      <if test="user.userRe8 != null">
        user_re_8 = #{user.userRe8},
      </if>
      <if test="user.userRe9 != null">
        user_re_9 = #{user.userRe9},
      </if>
      <if test="user.userRe10 != null">
        user_re_10 = #{user.userRe10},
      </if>
    </set>
    where id = #{user.id}
  </update>
  <select id="get" parameterType="java.lang.Integer" resultMap="resultMap">
    select 
    <include refid="columnList" />
    from user
    where id = #{id}
  </select>
  <select id="findByUsername" resultMap="resultMap">
    select
    <include refid="columnList" />
    from user
    where user_name = #{username}
  </select>
  <select id="getLastInsertID" resultType="java.lang.Integer">
    SELECT LAST_INSERT_ID()
  </select>
  <select id="checkExistByInviteCode" resultType="java.lang.Integer">
    select id from user where user_invite_code = #{inviteCode};
  </select>
  <select id="findByInviteCode" resultMap="resultMap">
    select * from user where user_invite_code = #{inviteCode};
  </select>
  <select id="getUserNameByUserId" resultType="string">
    select user_name from user where id = #{userId}
  </select>
  <select id="findMissingAddress" resultMap="resultMap">

  </select>
</mapper>