<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fic.service.mapper.WxPayInfoMapper">
  <resultMap id="BaseResultMap" type="com.fic.service.entity.WxPayInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prepay_id" jdbcType="VARCHAR" property="prepayId" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="request_body" jdbcType="VARCHAR" property="requestBody" />
    <result column="response_body" jdbcType="VARCHAR" property="responseBody" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="noncestr" jdbcType="VARCHAR" property="noncestr" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="notify_time" jdbcType="TIMESTAMP" property="notifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, prepay_id, order_num, status, request_body, response_body, created_time, sign,
    noncestr, transaction_id, notify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wx_pay_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_pay_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fic.service.entity.WxPayInfo">
    insert into wx_pay_info (id, prepay_id, order_num,
      status, request_body, response_body,
      created_time, sign, noncestr,
      transaction_id, notify_time)
    values (#{id,jdbcType=INTEGER}, #{prepayId,jdbcType=VARCHAR}, #{orderNum,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{requestBody,jdbcType=VARCHAR}, #{responseBody,jdbcType=VARCHAR},
      #{createdTime,jdbcType=TIMESTAMP}, #{sign,jdbcType=VARCHAR}, #{noncestr,jdbcType=VARCHAR},
      #{transactionId,jdbcType=VARCHAR}, #{notifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fic.service.entity.WxPayInfo">
    insert into wx_pay_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="prepayId != null">
        prepay_id,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="requestBody != null">
        request_body,
      </if>
      <if test="responseBody != null">
        response_body,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="noncestr != null">
        noncestr,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="notifyTime != null">
        notify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prepayId != null">
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="requestBody != null">
        #{requestBody,jdbcType=VARCHAR},
      </if>
      <if test="responseBody != null">
        #{responseBody,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="noncestr != null">
        #{noncestr,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null">
        #{notifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fic.service.entity.WxPayInfo">
    update wx_pay_info
    <set>
      <if test="prepayId != null">
        prepay_id = #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="requestBody != null">
        request_body = #{requestBody,jdbcType=VARCHAR},
      </if>
      <if test="responseBody != null">
        response_body = #{responseBody,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="noncestr != null">
        noncestr = #{noncestr,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="notifyTime != null">
        notify_time = #{notifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fic.service.entity.WxPayInfo">
    update wx_pay_info
    set prepay_id = #{prepayId,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      request_body = #{requestBody,jdbcType=VARCHAR},
      response_body = #{responseBody,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      sign = #{sign,jdbcType=VARCHAR},
      noncestr = #{noncestr,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      notify_time = #{notifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByOrderNum" resultMap="BaseResultMap">
    select * from wx_pay_info where order_num = #{orderNum}
  </select>
</mapper>