<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="logging.file" source="logging.file"/>

    <logger name="com.fic.service" level="DEBUG"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="DEV-ROLLING-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <file>${logging.file}fic_dev.log</file>
    </appender>

    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="ERROR">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="DEV-ROLLING-FILE" />
        </root>
    </springProfile>

</configuration>
